<div class="center">
    <script type="in/Login"></script>
</div>

<div></div>




<script type="text/javascript">

    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        const csrfToken = $('[name=csrfmiddlewaretoken]').val();
        $.ajax({
          method:'PUT',
          headers: {
            'X-CSRFToken': csrfToken,
          },
          url: '/api/profile/put/',
          data: {
            'first_name': data.firstName,
            'last_name': data.lastName,
            'email': data.emailAddress,
            'picture_url': data.pictureUrl,
            'id_linkedin': data.id,
            'link_linkedin': data.publicProfileUrl,
          }
        })
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~:(firstName,lastName,siteStandardProfileRequest,emailAddress,id,picture-url,public-profile-url)").result(onSuccess).error(onError);
    }

</script>
