{% load static %}

<div id="profile">
	<!-- if belom nyambungin ke linkedin keluar ini -->
	<!-- {% for req in request %} -->

	<!-- {% endfor %} -->
	<!--todo: silakan isi profil-->
	<div>
		<!--tanda seru-->
		<div><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
		<!--tulisan-->
		<div><p> Silakan isi profil dahulu. </p></div>
		<!--button-->
		<div><button> Edit Profil </button></div>
	</div>
	<!--todo: isi profile user-->
	<div>
		<!--nama-->
		<span>
			<h3>
				Nama
			</h3>
			<p>
				{{ user_login.full_name }}
			</p>
		</span>
		<!--npm-->
		<span></span>
		<!--keahlian-->
		<span></span>
		<!--email-->
		<span></span>
		<!--account-->
		<span></span>

	</div>
</div>

