{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/web-3/512/link-128.png" />
      <title>{{ TITLE }} / {{ page_title }}</title>
      <!-- stylesheet -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
      {% block stylesheet %}{% endblock %}
  </head>
  <body>
      <header> 
          {% include "web/partials/header.html" %}
      </header>
      <content>
          {% block content %}
                  <!-- content goes here -->
          {% endblock %}
      </content>
      {% if footer %}
      <footer>
          {% include "web/partials/footer.html" %}
          {% block footer %}{% endblock %}
      </footer>
      {% endif %}
      <!-- javascript -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
      <script type="application/javascript" src="{% static 'js/base.js' %}"></script>
      {% block script %}{% endblock %}
  </body>
</html>