{% load static %}
<nav class="header">
  <div class="navbar-base">
    <!--LOGO-->
    <div class="navbar-left">
      <div class="logo">
        <a class="logo-text" href="{% url 'web:dashboard' %}"> CS Career </a>
      </div>
    </div>
    <!--SEARH DAN ACCOUNT-->
    <div class="navbar-right">
      <div class="search-bar">
        <input type="search" href="" placeholder="Search">
        <a class="fa fa-search" aria-hidden="true" href=""></a>
      </div>
      <div class="account">
        <div class="menu-dropdown">
          <div class="btn-user">
            <img href="{% static 'img/user_dummy.png' %}">
          </div>
          <div class="menu-content">

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>