<link rel="stylesheet" href="../../../static/css/base.css">{% load static %}
<nav class="header">
  <div class="navbar-base">
    <!--LOGO-->
    <div class="navbar-left">
      <div class="logo">
        <a class="logo-text" href="{% url 'web:dashboard' %}"> CS Career </a>
      </div>
    </div>
    <!--SEARH DAN ACCOUNT-->
    <div class="navbar-right">
      {% if user_login %}
      <div class="search-bar">
        <input type="search" href="" placeholder="Search">
        <a class="fa fa-search" aria-hidden="true" href=""></a>
      </div>
      <div class="account">
        <div class="menu-dropdown">
          <div id="btn-user">
            <img src="{% static 'img/user_dummy.png' %}">
          </div>
          <div id="menu-content" class="menu-content">
            <span class="arrow-up"></span>
            <div class="square">

            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="account">
        <div class="menu-dropdown">
          <button id="btn-login"> Masuk </button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</nav>