@import url(fonts.css);

body {
  margin: 0 0 25rem 0;
  padding: 13.5rem 0 20rem 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #E4EBF0;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  line-height: 15rem;
  background-color: #f5f5f5;
}

content {
  min-height: 100%;
}

textarea {
  resize: none;
  border-radius: 50%;
}

button {
  border-radius: 50rem;
  border: none;
  outline: none;
}

input {
  border-radius: 50rem;
  outline: none;
}

table, th, td {
  border: 1px solid black;
}

h1 {
  font-family: 'Lobster', cursive;
}

h2, h3, h4, h5 {
  font-family: 'Roboto', serif;
}

.font-lobster {
  font-family: 'Lobster', cursive;
}

/* USE COMMENT TO SEPERATE BETWEEN APP */

/* HOME */
.header {
  position: fixed;
  top: 0;
  height: 7.5rem;
  min-height: 7.5rem;
  width: 100%;
  padding: 0rem 5rem 0rem 5rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1000;
  overflow: hidden;
}

.header .navbar-base {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 0;
  height: inherit;
  overflow: inherit;
}

.header .navbar-base .navbar-left {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.header .navbar-base .navbar-left .logo {
  display: flex;
  position: fixed;
  top: 0;
  width: 16rem;
  height: inherit;
  background-color: #698491;
  box-shadow: 0 0.1rem .9rem rgba(0, 0, 0, 0.1);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header .navbar-base .navbar-left .logo .logo-text {
  font-family: 'Lobster', cursive;
  font-size: 3.3rem;
  color: #e6ecf1;
  text-decoration: none;
}

.header .navbar-base .navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.header .navbar-base .navbar-right .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem 0 1rem;
  height: 5rem;
  width: 65%;
  border: 0.1rem solid rgba(171, 184, 193, 0.5);
  border-radius: 50rem;
}

.header .navbar-base .navbar-right .search-bar input {
  padding: 0 2rem 0 2rem;
  width: 90%;
  text-decoration: none;
  border: none;
  outline: none;
}

.header .navbar-base .navbar-right .search-bar .fa-search {
  font-size: 2.5rem;
  /*
  it is a hack but not really compatible across browser
  only safari and chrome support webkit
  */
  -webkit-text-stroke: 2px white;
  color: #698491;
  cursor: pointer;
  text-decoration: none;
}

.header .navbar-base .navbar-right .search-bar .fa-search:active {
  color: white;
}

.header .navbar-base .navbar-right .account {
  position: relative;
  width: 35%;
  height: 7.5rem;
  border-left: 0.1rem solid rgba(171, 184, 193, 0.5);
  margin-left: 3rem;
}

.header .navbar-base .navbar-right .account .menu-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

.header .navbar-base .navbar-right .account .menu-dropdown .menu-content {
  display: block;
  height: 20rem;
  width: inherit;
  background-color: #fff;
}

.header .navbar-base .navbar-right .account .menu-dropdown:hover .menu-content {
  display: flex;
}

.header .navbar-base .navbar-right .account .menu-content .btn-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .navbar-base .navbar-right .account .btn-user img {
  border-radius: 50%;
  object-fit: contain;
  height: 5rem;
  width: 5rem;
}

.header .navbar-base .navbar-right .btn-login {
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #698491;
  color: #e6ecf1;
}

/* HOME LAYOUT */
.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard .bottom-space {
  margin-bottom: 3rem;
}

.dashboard .section-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  width: 20%;
  padding: 0 0.7rem 0 0.7rem;
}

.dashboard .section-profile .profile {
  display: flex;
  flex-direction: column;
  height: 45rem;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
}

.dashboard .section-profile .profile .img-cover {
  display: block;
  z-index: 1;
  background-color: #698491;
  height: 22rem;
  width: inherit;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dashboard .section-profile .profile .img-cover img {
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dashboard .section-profile .profile .about {
  display: flex;
  justify-content: flex-start;
  height: 10rem;
  padding: 0 1.5rem 0 1.5rem;
}

.dashboard .section-profile .profile .about .user-dp {
  margin-top: -4rem;
  min-width: 12rem;
  min-height: 12rem;
  max-width: 12rem;
  max-height: 12rem;
  border-radius: 50%;
  border: .5rem solid #ffffff;
  /*background: #ffffff;*/
  z-index: 2;
}

.dashboard .section-profile .profile .about .user-dp img {
  min-height: inherit;
  min-width: inherit;
  max-height: inherit;
  max-width: inherit;
  object-fit: contain;
  border-radius: inherit;
  z-index: inherit;
}

.dashboard .section-profile .profile .about .user {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 3rem;
}

.dashboard .section-profile .profile .about .user #username {
  font-weight: bold;
}

.dashboard .section-profile .profile .stats {
  display: flex;
  justify-content: space-around;
  margin-top: 2.2rem;
}

.dashboard .section-profile .profile .stats .stat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard .section-profile .profile .stats .stat-content .title {
  color: #698491;
}

.dashboard .section-profile .profile .stats .stat-content .content {
  color: #abb8c2;
  font-weight: bolder;
  font-size: 4rem;
}

.dashboard .section-profile .forum {
  display: flex;
}

.dashboard .section-profile .forum button {
  width: 100%;
  height: 5rem;
  font-size: larger;
  font-weight: bold;
  color: #fff;
  background-color: #698491;
}

.dashboard .section-profile .latest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F6F7F8;
  border-radius: 0.5rem;
  padding: 2rem;
}

.dashboard .section-profile .latest .head {
  font-weight: bold;
  color: #698491;
}

.dashboard .section-profile .latest .content {
  background-color: #fff;
  border: 0.1rem solid #abb8c1;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow: hidden;
}

.dashboard .section-activity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  width: 70%;
  height: 100%;
  border-radius: .5rem;
}

.dashboard .section-activity .activity-tab {
  display: flex;
  justify-content: flex-start;
  height: 7rem;
  border-radius: inherit;
}

.dashboard .section-activity .activity-tab .tab-button {
  width: 15rem;
  margin: .5rem 1rem .5rem 1rem;
  font-weight: bold;
  font-size: 3rem;
  color: #abb8c1;
  background: none;
}

.dashboard .section-activity .activity-tab .tab-button-active {
  color: inherit;
  background-color: rgba(171, 184, 193, 0.2);
}


.dashboard .section-activity .activity-tab .tab-button:hover {
  color: inherit;
  background-color: rgba(171, 184, 193, 0.2);
}

.dashboard .section-activity .tab-content {
  display: flex;
  border-radius: inherit;
  box-shadow: 0 -0.08rem 0.2rem  rgba(0, 0, 0, 0.2);
  /* TODO change to 100% after the data is ready so it could be more flexible*/
  height: 60rem;
}

.dashboard .section-activity #tab-riwayat, #tab-profile, #tab-teman {
  display: none;
}

/* PROFILE */

/* STATUS */

@media only screen and (max-width: 769px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard .section-profile {
    width: 100%;
  }

  .dashboard .section-activity {
    width: 100%;
  }
}